# This workflow runs Unit-Tests for exoskeleton on MacOS
# with the oldest and latest supported Python versions.

name: MacOS Test

on: [push, pull_request]

jobs:
  build:

    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.14']

    steps:

    - name: System Update
      run: softwareupdate -i -a

    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel
        pip install -r requirements.txt

    - name: Install test utilities
      run: |
        pip install pytest pytest_mock pyfakefs

# Some tests currently require a Linux container as Windows workers
# cannot spin up a MariaDB service. So run a subset.
    - name: Run a subset of the tests
      run: pytest tests/tests_without_side_effects.py
