# This workflow runs Unit-Tests for exoskeleton on MacOS
# with the two latest Python versions.
#
# Flake8 will be run with the Ubuntu Workflow.
# Mypy runs separately.
# => There is no need to repeat these here.

name: MacOS Test

on: [push, pull_request]

jobs:
  build:

    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ['3.12', '3.13']

    steps:

    - name: System Update
      run: softwareupdate -i -a

    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel
        pip install -r requirements.txt

    - name: Install test utilities
      run: |
        pip install pytest pytest_mock pyfakefs

# Some tests currently require a Linux container as Windows workers
# cannot spin up a MariaDB service. So run a subset.  
    - name: Run a subset of the tests
      run: pytest tests_without_side_effects.py
