 # The code has type annotations. Enforce correctness of those.

name: Mypy (type checking)

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.14']
    steps:

    - name: APT Update
      run: sudo apt update

    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Install stubs for third-party libraries (necessary since mypy 0.9.0)
      run: |
        pip install types-PyMySQL
        pip install types-requests

    - name: Check code with Mypy
      run: mypy exoskeleton/
